<h1 style='front-size:green;color:green'>Cleaning of Data Excel</h1>

## Modules being used

In [2]:
import pandas as pd 
import numpy as dp
import matplotlib.pyplot as plt
import seaborn as sns

## Opening Data in Jupyter

In [6]:
df = pd.read_excel(r"C:\Documents\DATA ANALYSIS\finished analysis\SQL Educational institutes and Finances\data original\data_set.xlsx")

In [7]:
df.head()

,ID,EducationSector1,EducationSectorNumber,Periods,OperatingIncome_1,GrantsFromTheState_2,OtherGovernmentalGrants_3,TuitionAndExamFees_4,IncomeFromContractsWithThirdParties_5,OtherIncome_6,...,LongTermDebt_35,ShortTermDebt_36,TotalInvestmentsGross_37,InvestmentsGrossBuildingsAndLand_38,InvestmentsGrossInventoryAndEq_39,SolvencyRatio_40,CurrentRatio_41,ProfitMargin_42,ResilienceRatio_43,CapitalizationFactor_44
0,0,A,A048580,1998JJ00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,A,A048580,1999JJ00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,A,A048580,2000JJ00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,A,A048580,2001JJ00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,A,A048580,2002JJ00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Checking what type each column is

In [9]:
df.dtypes

ID                                         int64
EducationSector1                          object
EducationSectorNumber                     object
Periods                                   object
OperatingIncome_1                        float64
GrantsFromTheState_2                     float64
OtherGovernmentalGrants_3                float64
TuitionAndExamFees_4                     float64
IncomeFromContractsWithThirdParties_5    float64
OtherIncome_6                            float64
OperatingCosts_7                         float64
PersonnelCosts_8                         float64
Depreciation_9                           float64
HousingCosts_10                          float64
TotalOtherCosts_11                       float64
AdministrativeCosts_12                   float64
InventoryMaterialAndTeachingAid_13       float64
Other_14                                 float64
OperatingResult1_15                      float64
NetFinancialCosts2_16                    float64
SpecialEntries3_17                       float64
Result123_18                             float64
TotalAssets_19                           float64
TotalFixedAssets_20                      float64
NonFinancialIntangibleFixedAssets_21     float64
TotalNonFinancialTangibleFixedAs_22      float64
BuildingsAndLand_23                      float64
InventoryAndEquipment_24                 float64
OtherNonFinancialTangibleFixedAs_25      float64
FinancialFixedAssets_26                  float64
TotalCurrentAssets_27                    float64
Inventory_28                             float64
Receivables_29                           float64
ShortTermSecurities_30                   float64
LiquidAssets_31                          float64
TotalLiabilitiesAndEquity_32             float64
Equity_33                                float64
Provisions_34                            float64
LongTermDebt_35                          float64
ShortTermDebt_36                         float64
TotalInvestmentsGross_37                 float64
InvestmentsGrossBuildingsAndLand_38      float64
InvestmentsGrossInventoryAndEq_39        float64
SolvencyRatio_40                         float64
CurrentRatio_41                          float64
ProfitMargin_42                          float64
ResilienceRatio_43                       float64
CapitalizationFactor_44                  float64
dtype: object

## Time to edit Periods to delet last 4 letters in column that are unnecessary

In [11]:
df['Periods']

0      1998JJ00
1      1999JJ00
2      2000JJ00
3      2001JJ00
4      2002JJ00
         ...
184    2014JJ00
185    2015JJ00
186    2016JJ00
187    2017JJ00
188    2018JJ00
Name: Periods, Length: 189, dtype: object

In [12]:
df['Periods']=df['Periods'].map(lambda x:str(x)[:-4])

In [13]:
df['Periods']

0      1998
1      1999
2      2000
3      2001
4      2002
       ...
184    2014
185    2015
186    2016
187    2017
188    2018
Name: Periods, Length: 189, dtype: object

In [14]:
df['Periods'].astype(int)

0      1998
1      1999
2      2000
3      2001
4      2002
       ...
184    2014
185    2015
186    2016
187    2017
188    2018
Name: Periods, Length: 189, dtype: int32

## Also change EducationSectorNumber: delet the fist letter in the column

In [13]:
df['EducationSectorNumber']

0      A048580
1      A048580
2      A048580
3      A048580
4      A048580
        ...
184    A048419
185    A048419
186    A048419
187    A048419
188    A048419
Name: EducationSectorNumber, Length: 189, dtype: object

In [14]:
df['EducationSectorNumber']=df['EducationSectorNumber'].map(lambda x:str(x)[1:]).astype(int)

In [15]:
df['EducationSectorNumber']

0      48580
1      48580
2      48580
3      48580
4      48580
       ...
184    48419
185    48419
186    48419
187    48419
188    48419
Name: EducationSectorNumber, Length: 189, dtype: int32

## Transfer table to PostgreSQL

In [19]:
from sqlalchemy import create_engine
import psycopg2
import io

In [26]:
engine = create_engine('postgresql+psycopg2://postgres:CODE@NAME:5432/educational institutes financing')

In [27]:
df.head(0).to_sql('Finance_and_Education', engine, if_exists='replace', index=False)

0

In [28]:
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents =output.getvalue()
cur.copy_from(output, 'Finance_and_Education', null="")
conn.commit()

## Time to work in PostgreSQL.

<h1 style='front-size:3rem;color:green'>To see what I do next go to SQL folder</h1>