<h1 style='front-size:3rem;color:green'>Data cleaning of greenhouse emissions</h1>

## Modules being used

In [113]:
import pandas as pd 
import numpy as dp
import matplotlib.pyplot as plt
import seaborn as sns

## Opening Data in Jupyter

In [114]:
# Go through each excel and bring them to SQL

In [274]:
df = pd.read_csv(r"C:\Users\46700\Documents\DATA ANALYSIS\new and unfinished analysis\sql\Greenhouse Gas Emissions Dataset\Data\waste\country_wastewater-treatment-and-discharge_emissions.csv")

## Checking the data

In [275]:
df.head(10)

,iso3_country,start_time,end_time,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units,temporal_granularity,created_date,modified_date
0,XKX,2015-01-01 00:00:00,2015-12-31 00:00:00,wastewater-treatment-and-discharge,n2o,NaN,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
1,XKX,2015-01-01 00:00:00,2015-12-31 00:00:00,wastewater-treatment-and-discharge,co2,NaN,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
2,XKX,2015-01-01 00:00:00,2015-12-31 00:00:00,wastewater-treatment-and-discharge,ch4,NaN,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
3,XKX,2015-01-01 00:00:00,2015-12-31 00:00:00,wastewater-treatment-and-discharge,co2e_20yr,NaN,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
4,XKX,2015-01-01 00:00:00,2015-12-31 00:00:00,wastewater-treatment-and-discharge,co2e_100yr,NaN,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
5,XKX,2017-01-01 00:00:00,2017-12-31 00:00:00,wastewater-treatment-and-discharge,ch4,NaN,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
6,XKX,2017-01-01 00:00:00,2017-12-31 00:00:00,wastewater-treatment-and-discharge,co2e_20yr,NaN,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
7,XKX,2017-01-01 00:00:00,2017-12-31 00:00:00,wastewater-treatment-and-discharge,co2e_100yr,NaN,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
8,XKX,2018-01-01 00:00:00,2018-12-31 00:00:00,wastewater-treatment-and-discharge,n2o,NaN,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
9,XKX,2018-01-01 00:00:00,2018-12-31 00:00:00,wastewater-treatment-and-discharge,co2,NaN,tonnes,NaN,2022-09-06 12:39:52.76017,NaN

## Transfer table to PostgreSQL

In [276]:
from sqlalchemy import create_engine
import psycopg2
import io

In [277]:
engine = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/Greenhouse Gas Emissions Dataset')

In [278]:
df.head(0).to_sql('country_wastewater-treatment-and-discharge_emissions', engine, if_exists='replace', index=False)

0

In [279]:
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents =output.getvalue()
cur.copy_from(output, 'country_wastewater-treatment-and-discharge_emissions', null="")
conn.commit()